.right-big {
  padding: 10px;
}
.control { 
    padding: 10px;
    text-align: center;
}
.options {
    margin-left: 10px;
}
.slider {
    width: 75%;
}
table {
    text-align: center;
    width: 100%;
}
#updateNeeded {
    font-size: 1.6vh;
    vertical-align: center;
}
.modebar{
  display: none !important;
}
button:disabled {
  color: grey;
  text-decoration: line-through;
}