* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100vw;
	height: 100vh;
	font-family: 'Thasadith', sans-serif;
	margin-left: 0;
}
/*  Sections */
 .row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.row-center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.row-top {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
}
.row > * {
	flex: 1 100%;
  }
.row-top > * {
	flex: 1 100%;
  }
.left {
    text-align: left;
}
.centre {
	text-align: center;
}
.three-quarters {
	flex-basis: 75%; 
}
.quarter {
	flex-basis: 25%; 
}
.equally-spaced {
	justify-content: space-between;
}
/*  Setup */
a {
	text-decoration: none;
	color: grey;
}
a:hover {
	color: #C8C8C8;
}
.fullPage {
	width: 100vw;
	height: 100vh;
}
/* Navigation bar */
.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
}
.nav-button {
	width: 100%;
	padding: 1vmin;
}
.nav a {
    font-size: 1.2em;
    font-weight: bold;
}
/* Scroll Snap */
.holster {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: column nowrap;
}

.container {
	display: flex;
	overflow: auto;
	flex: none;
}

.container.y {
	width: 100vw;
	height: 100vh;
	flex-flow: column nowrap;
}
/* scroll-snap */
.y.mandatory-scroll-snapping {
	scroll-snap-type: y mandatory;
}
.container > div {
	text-align: center;
	scroll-snap-align: center;
	flex: none;
	font-family: 'Thasadith', sans-serif;
}
.y.container > div {
	width: 100vw;
	height: 100%;
} */
/* Heading bar */
/* .homepage {
    background-color: #F5F5F5;
}*/
.title {
	text-align: left;
}
.titleText a {
	color: grey;
	padding-left: 2vw;
}

.imgLogo {
	align-items: center; 
	display: flex;
	justify-content: flex-end;
	padding-right: 1vw;
}
.logo {
	width: 5vw;
	height: auto;
}
.shapes {
	padding-top: 1vh;
	padding-bottom: 1vh;
}
/* Shapes and animations for Page 1 */
.circle {
	vertical-align: middle;
	position: relative;
	width: 20%;		/* desired width */
	border-radius: 50%;
	background-color: #D3F8E2;
	animation-name: backgroundChange;
	animation-duration: 10s;
	animation-delay: 5s;
	animation-iteration-count: infinite;
	margin-left: auto;
	margin-right: auto;
}
.circle:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.triangle-up {
	height: 0;
	width: 0;
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	border-bottom: 4vw solid #D3F8E2;
	animation-name: borderBottomChange;
	animation-duration: 8s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	margin-left: auto;
	margin-right: auto;
}
.triangle-down {
	height: 0;
	width: 0;
	/* background-color: #555;
	background-color: red; */
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	border-top: 4vw solid #822E81;
	animation-name: borderTopChange;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	margin-left: auto;
	margin-right: auto;
} 
/* The animation code */
@keyframes backgroundChange {
	0% {
		background-color: #D3F8E2;
	}
	25% {
		background-color: #A9DEF9;
	}
	50% {
		background-color: #E4C1F9;
	}
	75% {
		background-color: #F694C1;;
	}
	100% {
		background-color: #F7567C;
	}
}

@keyframes borderTopChange {
/* from {border-top-color: red;}
to {border-top-color: yellow;} */
	 0% {
		border-top-color: #7B506F;
	}
	25% {
		border-top-color: #9F87AF;
	}
	50% {
		border-top-color: #B497D6;
	}
	75% {
		border-top-color: #E87EA1;
	}
	100% {
		border-top-color: #B1DDF1;
	}

}
@keyframes borderBottomChange {
/* from {border-bottom-color: red;}
to {border-bottom-color: yellow;} */
	0% {
		border-bottom-color: #822E81;
	}
	25% {
		border-bottom-color: #440381;
	}
	50% {
		border-bottom-color: #51E5FF;
	}
	75% {
		border-bottom-color: #90FCF9;
	}
	100% {
		border-bottom-color: #DEC5E3;
	}
} 


/*  Adding space under shapes */
.words {
	padding-top: 10vh;
    font-weight: bold;
    color: gray;
}
h3 {
    font-size: 1vw;
}

 /*  About page */
.content {
	padding-left: 1vw;
}
.social{
	padding-top: 2vh;
	font-size: 1.5em;
	text-align: center;
	margin-right: 2vw;
	margin-left: 2vw;
}

h2.triangle-text {
	border-top: 20vw solid #90FCF9;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    height: 0;
    width: 0;
    position:relative;
}
h2.triangle-text div.triangle-down-large {
    position: absolute;
	top: -15vw;
	left: -3vw
}

/* .circle-text {
	vertical-align: middle;
	position: relative;
	width:80%;
	border-radius: 50%;
	background-color: #D3F8E2;
	margin-left: auto;
	margin-right: auto;
}

.circle-text:before{
	content: "";
	display: block;
	padding: 50%; 	
}


h3.circle-text div.circle-large{
	position: absolute;
	top: 7vw;
} */

.circle-text {
	vertical-align: middle;
	position: relative;
	width:80%;		/* desired width */
	border-radius: 50%;
	background-color: #D3F8E2;
	margin-left: auto;
	margin-right: auto;
}

.circle-text:before{
	content: "";
	display: block;
	padding: 50%; 	
}


h3.circle-text div.circle-large{
	position: absolute;
	top: 7vw;
}
#about a:hover, .faded {
	color: #6D9DC5;
}
.word-img {
	width: 50%;
	height: auto;
	border-radius: 50%;
	filter: grayscale(0.6);
}
.ed-img{
	border: solid 5px #9F87AF;
}
.tech-img{
	border: solid 5px #A9DEF9;
}
.res-img{
	border: solid 5px #DEC5E3;
}
.quarter {
	align-items: flex-start;
	padding-left: 10%;
}
/* Project Page */
#projects, #projects2, #projects-small {
    background-color: #FFE3E3;
    justify-content: left;
    padding-left: 1vw;
}
/*  Grid for Project Page */
.one-two {
	height: 100%;
	width: 50%;
}
.projects {
    width: 50%;
}
.speaking {
    width: 50%;
}
.speaking-image {
    text-align: center;
}
.lists ul {
    list-style: none;
    width: 100%;
    text-align: left;
    padding-left: 1vw;
}
#leaving-no-one-behind {
	width: 100vw;
	padding: 1vmin;
}
.plan {
	text-align: center;
	padding: 5%;
	border-radius: 5%;
	margin-right: 10vw;
	margin-left: 10vw;
	border: black 1px solid;
}
.plan-detail {
	padding: 3%;
	border-radius: 5%;
	margin-right: 4vw;
	margin-left: 4vw;
	border: black 1px solid;
}

#skills-technologist, #skills-researcher {
	display: none;
}

button {
	padding: 2%;
	border-radius: 5%;
	font-family: 'Thasadith', sans-serif;
	border-color: grey; 
	background-color: white;
	font-weight: bold;
}
#button-researcher:hover, #button-educator:hover, #button-technologist:hover {
	/* background-color: green; */
	background-color: #A491D3!important;
	color: #4C3B4D!important;
}
#button-educator {
	background-color: #4C3B4D;
	/* color: #FFEEDB; */
	color: #ADA8B6;
}

/* Big screens only */
@media only screen and (min-width: 501px) {
	.smallScreen {
		display: none;
	}
}


/* Middle sized screens */
@media only screen and (min-width: 1200px) and (max-width: 1500px){
	h3 {
		font-size: 1.2vw;
	}
	h3.circle-text div.circle-large{
		top: 5vw;
	}
	h2.triangle-text div.triangle-down-large {
		left: -4vw
	}
}
@media only screen and (max-width: 1201px) and (min-width: 501px){
	h3 {
		font-size: 1.3vw;
	}
	h2.triangle-text {
		font-size: 2vw;
	}
	h3.circle-text div.circle-large{
		top: 5vw;
	}
	h2.triangle-text div.triangle-down-large {
		left: -5vw
	}
}


/* Smaller screens */
@media only screen and (max-width: 500px) {
	html, body {
		width: 99vw;
	}
	.words {
		padding-top: 6vh;
	}
	.bigScreen {
		display: none;
	}
	.word-img {
		width: 80%;
	}
	h1 {
		font-size: 1.1em;
	}
	h2 {
		font-size: 1em;
	}
	h3 {
		font-size: 0.75em;
	} 
	p, ul li {
		font-size: 0.7em;
	}
	.projects {
		width: 30%;
	}

	.circle-text {
		vertical-align: middle;
		position: relative;
		width:85%;		/* desired width */
		border-radius: 50%;
		background-color: #D3F8E2;
	}
	
	.circle-text:before{
		content: "";
		display: block;
		padding: 50%; 	
	}
	
	
	h3.circle-text div.circle-large{
		position: absolute;
		top: 15vw;
	}

	h2.triangle-text {
		border-top: 40vw solid #90FCF9;
		border-left: 20vw solid transparent;
		border-right: 20vw solid transparent;
		height: 0;
		width: 0;
		position:relative;
	}
	h2.triangle-text div.triangle-down-large {
		position: absolute;
		top: -35vw;
		left: -10vw
	}



	.flexOne {
		flex-basis: 35%;
	}
	.flexTwo {
		flex-basis: 65%;
	}
	.main-nav {
		list-style-type: none;
		display: none;
	}
	.main-nav li {
		text-align: center;
		margin: 2vh auto;
	}
	.navbar-toggle {
		position: absolute;
		right: 7vw;
		cursor: pointer;
		color: grey;
	}

}




/* Large screens - do not display burger navbar */
@media only screen and (min-width: 1025px) {
	.navbar {
	    display: none;
	}

	.main-nav {
	    display: none;

	}



	.navbar-toggle {
	    display: none;
	}

}

/* Active is the class used by the JavaScript to show and hide the navbar for mobile devices */
.active {
	display: block;
}

/* Allows for the heading and nav bar to be included when ids are used for anchoring to sections */
a.anchor {
    display: block;
    position: relative;
    top: -250px; /* NEEDS TO BE MADE MORE RESPONSIVE */
    visibility: hidden;
}


/* TEST SLIDER */

.mySlides {
	display: none;
}
img {
	vertical-align: middle;
}
.events p {
	padding-left: 10px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDot {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}