* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100vw;
	height: 100vh;
	font-family: 'Thasadith', sans-serif;
	margin-left: 0;
}
/*  Sections */
 .row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.row-center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.row-top {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
}
.row > * {
	flex: 1 100%;
  }
.row-top > * {
	flex: 1 100%;
  }
.left {
    text-align: left;
}
/*  Setup */
a {
	text-decoration: none;
	color: grey;
}
a:hover {
	color: #C8C8C8;
}
.fullPage {
	width: 100vw;
	height: 100vh;
}
/* Navigation bar */
.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
}
.nav-button {
	width: 100%;
	padding: 1vmin;
}
.nav a {
    font-size: 1.2em;
    font-weight: bold;
}
/* Scroll Snap */
.holster {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: column nowrap;
	font-family: monospace;
}

.container {
	display: flex;
	overflow: auto;
	flex: none;
}

.container.y {
	width: 100vw;
	height: 100vh;
	flex-flow: column nowrap;
}
/* scroll-snap */
.y.mandatory-scroll-snapping {
	scroll-snap-type: y mandatory;
}
.container > div {
	text-align: center;
	scroll-snap-align: center;
	flex: none;
	font-family: 'Thasadith', sans-serif;
}
.y.container > div {
	width: 100vw;
	height: 100%;
} */

/* Heading bar */
/* .homepage {
    background-color: #F5F5F5;
}*/
.title {
	text-align: left;
}
.titleText a {
	color: grey;
	padding-left: 2vw;
}

.imgLogo {
	align-items: center; 
	display: flex;
	justify-content: flex-end;
	padding-right: 1vw;
}
.logo {
	width: 5vw;
	height: auto;
}
.shapes {
	padding-top: 1vh;
	padding-bottom: 1vh;
}
/* Shapes and animations for Page 1 */
.circle {
	vertical-align: middle;
	position: relative;
	width: 20%;		/* desired width */
	border-radius: 50%;
	background-color: #D3F8E2;
	animation-name: backgroundChange;
	animation-duration: 10s;
	animation-delay: 5s;
	animation-iteration-count: infinite;
	margin-left: auto;
	margin-right: auto;
}
.circle:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.triangle-up {
	height: 0;
	width: 0;
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	border-bottom: 4vw solid #D3F8E2;
	animation-name: borderBottomChange;
	animation-duration: 8s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	margin-left: auto;
	margin-right: auto;
}
.triangle-down {
	height: 0;
	width: 0;
	/* background-color: #555;
	background-color: red; */
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	border-top: 4vw solid #822E81;
	animation-name: borderTopChange;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	margin-left: auto;
	margin-right: auto;
} 
/* The animation code */
@keyframes backgroundChange {
	0% {
		background-color: #D3F8E2;
	}
	25% {
		background-color: #A9DEF9;
	}
	50% {
		background-color: #E4C1F9;
	}
	75% {
		background-color: #F694C1;;
	}
	100% {
		background-color: #F7567C;
	}
}

@keyframes borderTopChange {
/* from {border-top-color: red;}
to {border-top-color: yellow;} */
	 0% {
		border-top-color: #7B506F;
	}
	25% {
		border-top-color: #9F87AF;
	}
	50% {
		border-top-color: #B497D6;
	}
	75% {
		border-top-color: #E87EA1;
	}
	100% {
		border-top-color: #B1DDF1;
	}

}
@keyframes borderBottomChange {
/* from {border-bottom-color: red;}
to {border-bottom-color: yellow;} */
	0% {
		border-bottom-color: #822E81;
	}
	25% {
		border-bottom-color: #440381;
	}
	50% {
		border-bottom-color: #51E5FF;
	}
	75% {
		border-bottom-color: #90FCF9;
	}
	100% {
		border-bottom-color: #DEC5E3;
	}
} 


/*  Adding space under shapes */
.words {
	padding-top: 10vh;
    font-weight: bold;
    color: gray;
}
h3 {
    font-size: 1.3em;
}

 /*  About page */
#about {
	background-color: #72E1D1;
	color: #3066BE;
}
.content {
	padding-left: 1vw;
}
#about a {
	color: #3066BE;
}
.social{
	padding-top: 2vh;
	font-size: 1.5em;
	text-align: center;
	margin-right: 2vw;
	margin-left: 2vw;
}
#about a:hover, .faded {
	color: #6D9DC5;
}
.word-img {
	width: 50%;
	height: auto;
	border-radius: 1%;
}
.quarter {
	align-items: flex-start;
	padding-left: 10%;
}
/* Project Page */
#projects {
    background-color: #FFE3E3;
    justify-content: left;
    padding-left: 1vw;
}
/*  Grid for Project Page */
.one-two {
	height: 100%;
	width: 50%;
}
.projects {
    width: 50%;
}
.speaking {
    width: 50%;
}
.speaking-image {
    text-align: center;
}
.lists ul {
    list-style: none;
    width: 100%;
    text-align: left;
    padding-left: 1vw;
}
#leaving-no-one-behind {
	width: 100vw;
	padding: 1vmin;
}
.plan {
	text-align: center;
	padding: 5%;
	border-radius: 5%;
	margin-right: 10vw;
	margin-left: 10vw;
	border: black 1px solid;
}
.plan-detail {
	padding: 3%;
	border-radius: 5%;
	margin-right: 4vw;
	margin-left: 4vw;
	border: black 1px solid;
}

#skills-technologist, #skills-researcher {
	display: none;
}

button {
	padding: 5%;
	border-radius: 5%;
	font-family: 'Thasadith', sans-serif;
	background-color: #3066BE; 
	color: #72E1D1;
	font-weight: bold;
}
#button-researcher:hover, #button-educator:hover, #button-technologist:hover {
	/* background-color: green; */
	background-color: #A491D3!important;
	color: #4C3B4D!important;
}
#button-educator {
	background-color: #4C3B4D;
	/* color: #FFEEDB; */
	color: #ADA8B6;
}

/* Big screens only */
@media only screen and (min-width: 701px) {
	.smallScreen {
		display: none;
	}
}
/* Smaller screens */
@media only screen and (max-width: 700px) {
	html, body {
		width: 100vw;
	}
	.words {
		padding-top: 5vh;
	}
	.bigScreen {
		display: none;
	}
	.word-img {
		width: 80%;
	}
	h1 {
		font-size: 1.1em;
	}
	h2 {
		font-size: 1em;
	}
	h3 {
		font-size: 0.9em;
	} 
	p {
		font-size: 0.8em;
	}
}